 <div class="title-class">
        <h2 class="title-curse">{{course.name}}</h2>
        <h5 class="description-class">{{class.name}}</h5>
    </div>


    <div>
        <video id="video" controls="controls" autoplay="autoplay">
            <source src="/static/videos/{{class.id}}.mp4" type="video/mp4" />
            <!--Suportado em IE9, Chrome 6 e Safari 5 --> 
            O seu navegador não suporta a tag vídeo
        </video>
        <div class="comment">
            <div class="tabs">
                <div class="tab-button-outer">
                    <ul id="tab-button">
                        <li><a href="#tab01">Página 1</a></li>
                        <li><a href="#tab02">Página 2</a></li>
                        <li><a href="#tab03">Página 3</a></li>
                        <li><a href="#tab04">Notes</a></li>
                        <li><a href="#tab05">Perguntas</a></li>
                    </ul>
                </div>
                <div class="tab-select-outer">
                    <select id="tab-select">
                    <option value="#tab01">Página 1</option>
                    <option value="#tab02">Página 2</option>
                    <option value="#tab03">Página 3</option>
                    <option value="#tab04">Notes</option>
                    <option value="#tab05">Perguntas</option>
                  </select>
                </div>

                <div id="tab01" class="tab-contents">
                   <form id="form-annotation1" method="POST" action="/saveAnnotation">
                        <input type="hidden" name="videoid" value="{{class.id}}">
                        <textarea name="texto" class="book"></textarea>
                        <input type="submit"  id="save1" class="btn btn-success send-anotation" value="Salvar"></button>
                   </form>
                    <h4>Não esqueça de salvar <i class="far fa-smile-wink"></i></h4>
                </div>
                <div id="tab02" class="tab-contents">
                    <form  id="form-annotation2" method="POST" action="/saveAnnotation">
                        <input type="hidden" name="videoid" value="{{class.id}}">
                        <textarea class="book"></textarea>
                        <input type="submit"  id="save2" class="btn btn-success send-anotation" value="Salvar"></input>
                    </form>
                    <h4>Não esqueça de salvar <i class="far fa-smile-wink"></i></h4>
                </div>
                <div id="tab03" class="tab-contents">
                    <form  id="form-annotation3" method="POST" action="/saveAnnotation">
                        <input type="hidden" name="videoid" value="{{class.id}}">
                        <textarea class="book"></textarea>
                        <input type="submit" id="save3" class="btn btn-success send-anotation" value="Salvar"></input>
                    </form>
                    <h4>Não esqueça de salvar <i class="far fa-smile-wink"></i></h4>
                </div>
                <div id="tab04" class="tab-contents">
                    <div class="row">
                        <ul class="notes">
                            <li>
                                <div id="postit1" class="rotate-1 lazur-bg">
                                    <small id="tempoPostit1"></small>
                                    <h5 id="tituloPost1">Clique Aqui</h5>
                                    <p id="textoPostit1">Marque o momento do vídeo que quer fazer uma breve anotação (Anotações não são salvas).</p>
                                    <textarea id="textAreaPost1" rows="2" maxlength="120" hidden></textarea>
                                    <button id="btnPost1" type="button" class="btn btn-success" hidden><i class="fas fa-pen" ></i></button>
                                </div>
                            </li>
                            <li>
                                <div id="postit2" class="rotate-2 red-bg">
                                    <small id="tempoPostit2"></small>
                                    <h5 id="tituloPost2">Clique Aqui</h5>
                                    <p id="textoPostit2">Marque o momento do vídeo que quer fazer uma breve anotação (Anotações não são salvas).</p>
                                    <textarea id="textAreaPost2" rows="2" maxlength="120" hidden></textarea>
                                    <button id="btnPost2" type="button" class="btn btn-success" hidden><i class="fas fa-pen" ></i></button>
                                </div>
                            </li>
                            <li>
                                <div id="postit3" class="rotate-1 yellow-bg">
                                    <small id="tempoPostit3"></small>
                                    <h5 id="tituloPost3">Clique Aqui</h5>
                                    <p id="textoPostit3">Marque o momento do vídeo que quer fazer uma breve anotação (Anotações não são salvas).</p>
                                    <textarea id="textAreaPost3" rows="2" maxlength="120" hidden></textarea>
                                    <button id="btnPost3" type="button" class="btn btn-success" hidden><i class="fas fa-pen" ></i></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="tab05" class="tab-contents">
                    <div class="card">
                        <div class="card-header">
                            <form method="post" action="/insertMessages" id="send-message" class="send-message-form">
                                <div class="input-group">
                                        <input type="hidden" name="idcourse" value="{{course.id}}">
                                        <input type="hidden" name="idclass" value="{{class.id}}">
                                        <input id="input-me" type="text" name="messages" class="form-control input-sm" placeholder="Escreva sua pergunta aqui ..." />
                                        <span class="input-group-append">
                                            <input type="submit" class="btn btn-primary" value="Enviar"><i class="fas fa-airplane"></i></input>
                                        </span>
                                </div>
                            </form>
                        </div>
                        <div class="card-body messages-box">
                            <ul class="list-unstyled messages-list">
                                {{#each messages as |message|}}
                                    <li class="messages-you clearfix">
                                    <span class="message-img img-circle">
                                        <img src="/static/img/icone_perfil2.png" alt="User Avatar" class="avatar-sm border rounded-circle">
                                    </span>
                                    <div class="message-body clearfix">
                                        <div class="message-header">
                                          <strong class="messages-title">{{message.email}}</strong> 
                                            <small class="time-messages text-muted">
                                                <span class="fas fa-time"></span>{{message.date}}
                                            </small>
                                        </div>
                                        
                                        <p class="messages-p">{{message.text}}</p>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#each course.classes as |classe|}}
        <form method="POST" action="/watchClass">
            <input type="hidden" name="idclass" value="{{classe.id}}">
            <input type="submit" class="btn btn-outline-light rounded-0 btnchoosevideo" value="{{classe.name}}"></input>
        </form>
        {{/each}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="/static/class.js"></script>