<div id="hdr">
    <div id="page_title">{{pageTitle}}</div>
</div>

<div id="corpo">
    <div id="menu">
        <div class="btnMenu"><a href="{{route1}}">{{option1}}</a>
        </div><br>
        <div class="btnMenu"><a href="{{route2}}">{{option2}}</a>
        </div><br>
        <div class="btnMenu"><a href="{{route3}}">{{option3}}</a>
        </div><br>

    </div>
    <div class="dinamico"> </div>
</div>

<div id="ftr">

    <h5><a href="#">Contato</a></h5>
    <h5><a href="#">Sobre</a></h5>

</div>